* {
    box-sizing: border-box;
}
body {
    color: #333;
}
img {
    max-width: 100%;
}
a {
    cursor: pointer;
}
main {
    padding: 10px;
    max-width: 900px;
    margin: 0 auto;
}
header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    align-items: center;
    margin-top: 20px;
    position: top;
}
header a {
    text-decoration: none;
    color: #000;
}
header a.logo {
    font-weight: bold;
    font-size: 1.4rem;
}
header nav {
    display: flex;
    gap: 20px;
}
div.post {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    margin-bottom: 30px;
}

@media screen and (min-width:600px) {
    div.post {
        grid-template-columns: .9fr 1.1fr;
    }
}

div.post div.texts h2 {
    margin: 0;
    font-size: 1.8rem;
}
div.post div.texts a {
    text-decoration: none;
    color: inherit
}
div.post p.info {
    margin: 6px 0;
    color: #888;
    font-size: .7rem;
    font-weight: bold;
    display: flex;
    gap: 8px;
}
div.post p.info a.author {
    text-decoration: none;
    color: #333;
}
div.post p.content {
    margin: 10px 0;
    line-height: 1.4rem;
}

/* Login & Register Page */
form.login, form.register {
    max-width: 60%;
    margin: 100px auto 0;
    height: 60vh;
    text-align: center;
}
input {
    display: block;
    margin-bottom: 10px;
    width: 100%;
    padding: 10px;
    border: 0;
    border-bottom: 1px solid #ccc;  
}
button {
    width: 100%;
    margin-top: 5px;
    padding: 10px;
    border: 15px;

}
button:hover {
    background-color: rgb(92,92,92);
    color: #fff;
    cursor: pointer;
}
div.post-page div.image {
    max-height: 200px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    margin-bottom: 60px;
}
div.post-page div.image.img {
    object-fit: cover;
    object-position: center center;
    
}
div.post-page a {
    color: #333;
    text-decoration: underline;
}
div.post-page h1 {
    text-align: center;
    margin: 10px 0 5px;
}
div.post-page time {
    text-align: center;
    display: block;
    font-size: .7rem;
    color: #aaa;
}
div.post-page div.author {
    text-align: center;
    margin-bottom: 20px;
    font-size: .7rem;
    font-weight: bold;
}
div.post-page div.content p {
    line-height: 1.6;
}
div.editRow {
    text-align: center;
    margin-bottom: 10px;
}
div.post-page a.edit-btn {
    background-color: #333;
    color:#fff;
    display: inline-flex;
    gap: 4px;
    padding: 10px 30px;
    border-radius: 5px;
    text-decoration: none;
}
a svg {
    height: 18px;
}